doctype
html(lang="en")
	include includes/header.pug
	body
		h1 Incluir PUG
		P  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At repellendus soluta quas maxime dolorem quibusdam ex ipsa sed, sit iste, ratione eum similique aspernatur cumque! Beatae nulla dolores, iste esse?

		include includes/footer.pug